## Plan

- Go through nonfungible, find latest kitty that has same id/USD and date!
- create a df, and fill it with stuff from cryptokittie api
- append this df ontop of `train_dense.csv`

In [1]:
import pandas as pd
import requests
import json
import warnings
warnings.filterwarnings('ignore')

pd.set_option('max_columns', 30)

    
data = pd.read_csv('train_dense.csv')
data.head()

                       time       ID    USD
0  2019-06-30T02:21:40.000Z  1632691   0.96
1  2019-06-30T02:16:25.000Z  1093660   0.40
2  2019-06-30T02:05:20.000Z  1063243   0.38
3  2019-06-30T02:04:43.000Z  1043057   0.39
4  2019-06-30T01:45:54.000Z  1634788  14.65